body {
  font-family: Arial, Helvetica, sans-serif;
}

.gameCard {
  background-image: url("https://wallpaperaccess.com/full/2077702.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-areas: "deta imag desc";
 
  grid-template-rows: 1fr;
  gap: 10px;
  justify-content: center;
}

.col {
  margin: 8px;
  width: 95%;
}

.othersDetails {
  display: grid;
  height: 12%;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

.releasedDetails {
  display: grid;
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: rgb(115, 115, 115);
  padding: 0.5rem;
  justify-content: center;
}
.ratingDetails {
  display: grid;
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: rgb(115, 115, 115);
  padding: 0.5rem;
  justify-content: center;
}
.gameImage {
  grid-area: imag;
  border-radius: 20px;
  background-color: rgbargba(0, 0, 0, 0.597);
  height: 97%;
}

.gameDetails {
  grid-area: deta;
  font-size: 1.5 em;
  color: rgb(255, 255, 255);
  background-color: rgbargba(0, 0, 0, 0.597);
  border-radius: 20px;
  background-color: rgbargba(0, 0, 0, 0.597);
}

.gameDescription {
  grid-area: desc;
  font-size: 0.9rem;
  margin-left: 1%;
  margin-top: 1.5%;
  height: 88vh;
  width: 97%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
}

.firstItem {
  text-align: center;
  font-size: 3rem;
  padding: 5px;
  color: rgb(251, 251, 251);
}

.others {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.8rem;
  align-items: center;
}

.platforms,
.genres {
  display: grid;
  background-color: rgb(0, 0, 0);
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: rgb(255, 255, 255);
}
.titleDetails {
  background-color: rgba(0, 0, 0);
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  padding: 0.8rem;
}

.others {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgba(0, 0, 0);
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.description {
  box-sizing: border-box;
  font-size: 1.5em;
  padding: 1rem;
}

.details {
  margin: 0.5rem;
  padding: 0.7rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 1rem;
}

@media (max-width: 1900px) {
  .gameCard {
    grid-template-areas:
      "imag deta"
      "desc desc";
    grid-template-columns: 800px auto;
    grid-template-rows: auto auto;
  }
  .releasedDetails {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
  .ratingDetails {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
  .gameDescription {
    height: auto;
  }
  .description {
    font-size: 1.4em;
  }
  .platforms,
  .genres {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .othersDetails {
    height: 20%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 15px;
  }
}

@media (max-width: 1600px) {
  .gameCard {
    grid-template-areas:
      "deta"
      "imag"
      "desc";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  .gameDescription {
    width: 95%;
    height: auto;
  }
  .description {
    font-size: 1.2rem;
  }
  .platforms,
  .genres {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .othersDetails {
    height: 22%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 15px;
  }
}

@media (max-width: 1300px) {
  .platforms,
  .genres {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .platforms,
  .genres {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .platforms,
  .genres {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
