.containerFilter {
  color: rgb(255, 255, 255);
  margin-top: 4rem;
  margin-left: 4rem;
  font-size: 20px;
  display: grid;
  width: 80%;
  justify-content: left;
}

select {
  font-size: 0.9rem;
  background-color: rgba(70, 49, 0, 0.329);
  color: rgb(255, 251, 0);
  padding: 0.4rem;
  border-radius: 5px;
}

select:hover{
  background-color: rgba(81, 84, 3, 0.526);
  color: bisque;
}


/* .containerFilter {
    color: blanchedalmond;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 4rem;
    font-size: 21px;
    display: grid;
    width: 80%;
    justify-content: center;

  }
  
  select {
    font-size: 1.4rem;
    background-color: rgb(11, 105, 61);
    color: rgb(159, 236, 15);
    padding: 0.5rem;
    border-radius: 5px;
  }

  select:hover{
    background-color: rgb(38, 70, 20);
    color: bisque;
  } */